---
export interface Props {
    type?: "button" | "reset" | "submit" | null;
    label: string;
    variant?: "primary" | "outline";
}

const { label, type, variant = "primary" } = Astro.props;
---

<button type={type} class={`${variant}`}>{label}</button>

<style>
    button {
        --color-button-outline: var(--color-aptech-gold);
        --color-button-background: var(--color-aptech-gold);
        --color-button-text: var(--color-bg);
        padding: 0.5rem 1.25rem;
        background-color: var(--color-button-background);
        color: var(--color-button-text);
        font-size: 0.8rem;
        border: 2px solid var(--color-button-background);
        border-radius: 0.25rem;
        outline: 2px solid var(--color-button-outline);
        transition: outline 250ms ease-in;
        cursor: pointer;
    }

    button.outline {
        background-color: transparent;
        color: inherit;
    }

    button:hover {
        outline-offset: 2px;
    }

    button.outline:hover {
        outline-color: var(--color-button-background);
    }
</style>
