---
import Input from "./Input.astro";
---

<div>
    <Input name="name" label="Name" />
    <Input name="email" label="Email" />
    <Input name="phone-number" label="Phone Number" />
    <Input name="other" label="Other" />
</div>

<style>
    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
</style>
