---
import Input from "./Input.astro";
//  Components
---

<section class="background">
    <div class="container">
        <form>
            <Input label="Name" />
            <Input label="Email" />
            <Input label="Phone Number" />
            <Input label="Other" />
        </form>
    </div>
</section>

<style>
    .background {
        background-color: var(--color-aptech-gold);
        padding: 5rem 0;
        overflow: hidden;
    }

    .container {
        max-width: 33rem;
        margin: 0 auto;
    }

    form {
        color: var(--color-bg);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        position: relative;
        z-index: 1;
    }

    form::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        scale: 10 3;
        rotate: -60deg;
        z-index: -1;
        background-color: var(--color-text);
    }
</style>
