---
import Title from "../../components/Title.astro";
---

<div>
    <Title>REGISTRATION FORM</Title>
    <p>
        Please fill out the form below with your contact details to enroll in
        our courses. We will contact you as soon as we're able!
    </p>
</div>

<style>
    p {
        text-align: center;
        margin-top: 0.5rem;
    }
</style>
