---
export interface Props {
    label?: string;
    type?: any;
}

const { label = "", type = "text" } = Astro.props;
---

<div class="full-width">
    <label>{label}</label>
    <input type={type} class="full-width" />
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.175rem;
    }

    label {
        padding-left: 1rem;
        font-size: 0.8rem;
    }

    input {
        border-radius: 0.5rem;
        padding: 0.25rem 1rem;
    }

    input:focus {
        outline: 2px solid var(--color-aptech-gold);
        outline-offset: 4px;
    }
</style>
