<div id="text-container" class="container">
    <div id="text">
        <h1>Unleash Your Potential</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias
            dolore omnis rem eos sint, quisquam aliquid nam earum obcaecati
            tempore inventore dolor, nisi atque sunt nulla repellat aut
            aspernatur saepe.
        </p>
    </div>
</div>

<style>
    #text-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    #text {
        --animation-duration: 750ms;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        color: var(--color-bg);
        text-align: center;
        z-index: 1;
        animation: fade ease-in var(--animation-duration) forwards,
            fly var(--animation-duration) forwards;
    }

    @media (max-width: 768px) {
        #text {
            width: 100%;
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fly {
        from {
            translate: 0 20px;
        }
        to {
            traslate: 0px;
        }
    }
</style>
