<div>
    <slot />
</div>

<style>
    :root {
        --background-image: url("/images/hero/1.webp");
        --gradient-end: hsla(0, 0%, 0%);
        --gradient-start: hsla(0, 0%, 12%, 0%);
        --gradient-rotation: 135deg;
    }

    div {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background-image: var(--background-image);
        background-size: cover;
        background-position: 0 45%;
        position: relative;
        z-index: -1;
    }

    div::before {
        content: "";
        position: absolute;
        background: linear-gradient(
            var(--gradient-rotation),
            var(--gradient-start),
            30%,
            var(--gradient-end)
        );
        opacity: 0.9;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
</style>
