<div class="container">
    <h1>Unleash Your Potential</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis animi
        placeat autem temporibus consequuntur hic aspernatur quae quis unde
        corrupti, molestiae inventore?
    </p>
</div>

<style>
    div {
        width: 50vw;
        color: var(--color-bg);
        text-align: center;
        z-index: 1;
    }
</style>
