---
import Title from "../../utility/components/Title.astro";
---

<div id="text-container" class="container">
    <div id="text">
        <div>
            <Title level={1} className="gold">Aptech Learning</Title>
            <div id="branch-title">
                <div></div>
                <p>Shaheed Path</p>
                <div></div>
            </div>
        </div>
        <div>
            <p id="premier-text">
                A premier institute of Computer Education of International
                Reputation
            </p>
            <address>
                309, Shopping Square-I, Sector-D, Sushant Golf City, Shaheed
                Path, Lucknow - 226030
            </address>
        </div>
    </div>
</div>

<style>
    #text-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    #text {
        --animation-duration: 750ms;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        color: var(--color-bg);
        text-align: center;
        z-index: 1;
        animation: fade ease-in var(--animation-duration) forwards,
            fly var(--animation-duration) forwards;
    }

    @media (max-width: 768px) {
        #text {
            width: 100%;
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fly {
        from {
            translate: 0 20px;
        }
        to {
            translate: 0px;
        }
    }

    #branch-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-transform: uppercase;
    }

    #branch-title div {
        flex: 1;
        width: 6.5rem;
        height: 0.75ch;
        background-color: var(--color-bg);
    }

    #branch-title p {
        flex-shrink: 1;
    }

    #premier-text {
        font-size: 1.25rem;
    }

    address {
        color: #999;
    }
</style>
