---
import type { AstroBuiltinAttributes, AstroBuiltinProps } from "astro";

export interface Props extends AstroBuiltinProps {
    flexDirection?: string;
    justifyContent?: string;
    alignItems?: string;
    gap?: string;
}

const { flexDirection, justifyContent, alignItems, gap, ...rest } = Astro.props;
---

<div {...rest}>
    <slot />
</div>

<style define:vars={{ flexDirection, justifyContent, alignItems, gap }}>
    div {
        display: flex;
        flex-direction: var(--flexDirection, column);
        justify-content: var(--justifyContent, center);
        align-items: var(--alignItems, center);
        gap: var(--gap, 1rem);
    }
</style>
