---
import Button from "../../utility/components/Button.astro";
import Section from "../../utility/components/Section.astro";
import Posting from "./Posting.astro";

const postings = [
    {
        title: "Counsellor",
        description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi praesentium cupiditate dicta porro nihil dolor.",
        details:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi praesentium cupiditate dicta porro nihil dolor.",
    },
    {
        title: "Instructor",
        description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi praesentium cupiditate dicta porro nihil dolor.",
        details:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi praesentium cupiditate dicta porro nihil dolor.",
    },
];
---

<Section classNames="full-width">
    {postings.map((posting) => <Posting {...posting} />)}
</Section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
</style>
