---
// Components
import Title from "../../utility/components/Title.astro";
import Section from "../../utility/components/Section.astro";
import Content from "./Content.md";
---

<Section classNames="inverted">
    <Title>About Us</Title>
    <div class="markdown">
        <Content />
    </div>
</Section>

<style>
    div {
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 75vw;
        padding-inline: 5vw;
        color: #999;
    }

    @media (width < 768px) {
        div {
            width: 95vw;
        }
    }
</style>
