---
// Components
import Title from "../../utility/components/Title.astro";
import Section from "../../utility/components/Section.astro";
import Content from "./Content.md";
---

<Section classNames="inverted">
    <Title>About Us</Title>
    <div>
        <Content />
    </div>
</Section>

<style>
    div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 75%;
    }
</style>
