---
import BasePlate from "../layouts/BasePlate.astro";
---

<BasePlate title="Not Found">
    <main>
        <div>404</div>
        <p>Page Not Found</p>
    </main>
</BasePlate>

<style>
    main {
        height: 90vh;
        display: grid;
        place-content: center;
    }

    div {
        font-size: 4rem;
        font-weight: bold;
    }
</style>
