---
import BasePlate from "../layouts/BasePlate.astro";
import Section from "../utility/components/Section.astro";
import Title from "../utility/components/Title.astro";
import Input from "../components/Form/Input.astro";
---

<BasePlate title="Career | Aptech Shaheed Path">
    <main>
        <Section>
            <Title>Careers</Title>
            <p>
                We're hiring! If you're interested in working with us, fill the
                following form; or email your C.V. to
                aptechshaheedpath@gmail.com
            </p>
            <!-- TODO: Create Career Form -->
            <form>
                <Input label="Name" />
                <Input label="Email" />
            </form>
        </Section>
    </main>
</BasePlate>
