---
import BasePlate from "../layouts/BasePlate.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import Input from "../components/Form/Input.astro";
import CareerOpenings from "../components/CareerOpenings/CareerOpenings.astro";
---

<BasePlate title="Career | Aptech Shaheed Path">
    <main>
        <Section>
            <Title>Careers</Title>
            <p>
                We're hiring! If you're interested in working with us, fill the
                following form; or email your C.V. to
                aptechshaheedpath@gmail.com
            </p>
            <CareerOpenings />
        </Section>
    </main>
</BasePlate>
