---
import BasePlate from "../layouts/BasePlate.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import CareerOpenings from "../components/CareerOpenings/CareerOpenings.astro";
---

<BasePlate title="Career | Aptech Shaheed Path">
    <main>
        <Section>
            <Title>Careers</Title>
            <p>
                We're hiring! If you're interested in working with us, email
                your C.V. to <b>aptechshaheedpath@gmail.com</b>
            </p>
            <CareerOpenings />
        </Section>
    </main>
</BasePlate>

<style>
    main {
        min-height: 100vh;
    }
</style>
