---
import BasePlate from "../layouts/BasePlate.astro";
import About from "../components/About/index.astro";
import Contact from "../components/Contact/index.astro";
---

<BasePlate title="Contact | Aptech Shaheed Path">
    <main>
        <Contact />
        <About />
    </main>
</BasePlate>
