---
import BasePlate from "../layouts/BasePlate.astro";
import Contact from "../components/Contact/Contact.astro";
---

<BasePlate title="Contact | Aptech Shaheed Path">
    <main>
        <Contact />
    </main>
</BasePlate>
