---
import BasePlate from "../layouts/BasePlate.astro";
import Title from "../components/utility/Title.astro";
---

<BasePlate title="Contact | Aptech Shaheed Path">
    <main>
        <Title>Contact Us</Title>
    </main>
</BasePlate>
