---
import BasePlate from "../layouts/BasePlate.astro";
import Title from "../components/utility/Title.astro";
import Courses from "../components/Courses/Courses.astro";
---

<BasePlate title="Courses | Aptech - Shaheed Path">
    <Title>Courses</Title>
    <Courses />
</BasePlate>
