---
import BasePlate from "../layouts/BasePlate.astro";
import Title from "../components/utility/Title.astro";
import Showcase from "../components/Courses/Showcase.astro";
import Section from "../components/utility/Section.astro";
---

<BasePlate title="Courses | Aptech - Shaheed Path">
    <Section>
        <Title>Courses</Title>
        <Showcase />
    </Section>
</BasePlate>
