---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import Features from "../components/Features/Features.astro";
---

<Layout title="Hello World!">
	<main>
		<Hero />
		<Features />
	</main>
</Layout>

<style>

</style>
