---
//	Layout
import BasePlate from "../layouts/BasePlate.astro";

//	Sections
import Hero from "../components/Hero/Hero.astro";
import Features from "../components/Features/Features.astro";
import Courses from "../components/Courses/Courses.astro";
import Form from "../components/Form/Form.astro";
import Testimonials from "../components/Testimonials/Testimonials.astro";
import About from "../components/About/index.astro";
import Contact from "../components/Contact/index.astro";
---

<BasePlate title="Aptech Shaheed Path">
	<main>
		<Hero />
		<Features />
		<Courses />
		<Form />
		<Testimonials />
		<About />
		<Contact />
	</main>
</BasePlate>
