---
//	Layout
import BasePlate from "../layouts/BasePlate.astro";

//	Sections
import Hero from "../components/Hero/Hero.astro";
import Features from "../components/Features/Features.astro";
import Courses from "../components/Courses/Courses.astro";
import Form from "../components/Form/Form.astro";
---

<BasePlate title="Aptech">
	<main>
		<Hero />
		<Features />
		<Courses />
		<Form />
	</main>
</BasePlate>
