---
//  Components
import Title from "../../utility/components/Title.astro";
import Section from "../../utility/components/Section.astro";
---

<Section>
    <Title>Contact Us</Title>
    <div>
        <Title level={3} className="gold">Email</Title>
        <p>aptechshaheedpath@gmail.com</p>
    </div>
    <div>
        <Title level={3} className="gold">Phone Number</Title>
        <p>9369372934</p>
    </div>
    <div>
        <Title level={3} className="gold">Address</Title>
        <address>
            <p>
                309 - Shopping Square-I, Sector-D, Sushant Golf City,<br />
                Shaheed Path, Lucknow - 226030
            </p>
        </address>
    </div>
</Section>

<style>
    p {
        font-size: 1.75rem;
        text-align: center;
    }
</style>
