---
//  Components
import Title from "../../components/Title.astro";
import Section from "../../components/Section.astro";
import Map from "./Map.astro";
---

<Section>
    <Title>Contact Us</Title>
    <div id="contact-row">
        <div class="flex left">
            <div>
                <p class="gold">Email</p>
                <p>aptechshaheedpath@gmail.com</p>
            </div>
            <div>
                <p class="gold">Phone Number</p>
                <p>9369372934, 7042065607</p>
            </div>
            <div>
                <p class="gold">Address</p>
                <address>
                    <p>
                        309 - Shopping Square-I, Sector-D,<br /> Sushant Golf City,
                        Shaheed Path, <br /> Lucknow - 226030
                    </p>
                </address>
            </div>
        </div>
        <div class="right">
            <Map />
        </div>
    </div>
</Section>

<style>
    div {
        width: 100%;
    }

    .left,
    .right {
        flex: 1;
    }

    p {
        text-align: right;
    }

    p:not(.gold) {
        font-size: 1.5rem;
    }

    #contact-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    @media (width < 768px) {
        p {
            font-size: 1.25rem;
            text-align: center;
        }

        #contact-row {
            flex-direction: column;
        }
    }
</style>
