---
//  Components
import Details from "./Details.astro";
import Title from "../../utility/components/Title.astro";
import Section from "../../utility/components/Section.astro";
---

<Section>
    <Title>Contact Us</Title>
    <div>
        <Title level={3} className="gold">Email</Title>
        <Details>aptechshaheedpath@gmail.com</Details>
    </div>
    <div>
        <Title level={3} className="gold">Phone Number</Title>
        <Details>9369372934</Details>
    </div>
    <div>
        <Title level={3} className="gold">Address</Title>
        <address>
            <Details>
                309 - Shopping Square-I, Sector-D, Sushant Golf City,<br />
                Shaheed Path, Lucknow - 226030
            </Details>
        </address>
    </div>
</Section>
