---
import VStack from "../utility/Stack/VStack.astro";
import Showcase from "./Showcase.astro";
---

<section class="container">
    <VStack gap="2rem">
        <div><h2>COURSES</h2></div>
        <Showcase />
    </VStack>
</section>

<style>
    section.container {
        margin: 3rem auto;
    }
</style>
