---
import VStack from "../utility/Stack/VStack.astro";
import Showcase from "./Showcase.astro";
---

<section class="container">
    <VStack>
        <div>
            <h2>Courses</h2>
        </div>
        <Showcase />
    </VStack>
</section>

<style>
    section.container {
        margin: 3rem auto;
    }
</style>
