---
// Components
import Showcase from "./Showcase.astro";
import FloatingLogos from "./FloatingLogos.astro";
import ViewMore from "./ViewMore.astro";

// Utility
import Title from "../utility/Title.astro";
import Section from "../utility/Section.astro";

// Data
import data from "../../data/courses.json";

const limit = 5;
const courses = data.slice(0, limit);
---

<Section>
    <Title>COURSES</Title>
    <Showcase courses={courses} />
    <ViewMore />
    <FloatingLogos />
</Section>
