---
// Components
import Showcase from "./Showcase.astro";
import FloatingLogos from "./FloatingLogos.astro";
import ViewMore from "./ViewMore.astro";

// Utility Components
import Title from "../../components/Title.astro";
import Section from "../../components/Section.astro";

//  Type Definitions
import type { CourseDetails } from "../../types";

const limit = 5;
const data = await Astro.glob<CourseDetails>("../../pages/courses/*.md");

let courses = [];
for (const id of [
    "microsoft-office",
    "advanced-excel",
    "artificial-intelligence-and-machine-learning",
    "programming-in-python",
    "web-development",
]) {
    courses.push(...data.filter((c) => c.frontmatter.id === id));
}
---

<Section>
    <Title>COURSES</Title>
    <Showcase courses={courses} />
    <ViewMore />
    <FloatingLogos />
</Section>
