---
import Showcase from "./Showcase.astro";
import Title from "../utility/Title.astro";
---

<section class="container">
    <Title>Courses</Title>
    <Showcase />
</section>

<style>
    section.container {
        margin: 2rem auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
</style>
