---
import Showcase from "./Showcase.astro";
---

<section class="container">
    <div><h2>COURSES</h2></div>
    <Showcase />
</section>

<style>
    section.container {
        margin: 2rem auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
</style>
