---
// Components
import Showcase from "./Showcase.astro";
import FloatingLogos from "./FloatingLogos.astro";
import ViewMore from "./ViewMore.astro";

// Utility Components
import Title from "../../utility/components/Title.astro";
import Section from "../../utility/components/Section.astro";

//  Type Definitions
import type { CourseDetails } from "../../types";

const limit = 5;
const courses = (
    await Astro.glob<CourseDetails>("../../pages/courses/*.md")
).slice(0, limit);
---

<Section>
    <Title>COURSES</Title>
    <Showcase courses={courses} />
    <ViewMore />
    <FloatingLogos />
</Section>
