---
import Showcase from "./Showcase.astro";
import Title from "../utility/Title.astro";
import Section from "../utility/Section.astro";
---

<Section>
    <Title>COURSES</Title>
    <Showcase />
</Section>
