---
import Showcase from "./Showcase.astro";
---

<section class="container">
    <div>
        <div><h2>COURSES</h2></div>
        <Showcase />
    </div>
</section>

<style>
    section.container {
        margin: 3rem auto;
    }
</style>
