---
import CourseCard from "./CourseCard.astro";

const courses = [
    { title: "Course 1", cover: "/images/course-1.webp" },
    { title: "Course 2", cover: "/images/course-2.webp" },
    { title: "Course 3", cover: "/images/course-3.webp" },
];
---

<div>
    {
        courses.map((course) => (
            <CourseCard title={course.title} cover={course.cover} />
        ))
    }
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
</style>
