---
import CourseCard from "./CourseCard.astro";

let courses = [
    {
        title: "Course 1",
        cover: "/images/course-1.webp",
        url: "/courses/1",
        logo: "/assets/tech/logos_c.svg",
    },
    {
        title: "Course 2",
        cover: "/images/course-2.webp",
        url: "/courses/2",
        logo: "/assets/tech/logos_cpp.svg",
    },
    {
        title: "Course 3",
        cover: "/images/course-3.webp",
        url: "/courses/3",
        logo: "/assets/tech/logos_javascript.svg",
    },
    {
        title: "Course 4",
        cover: "/images/course-2.webp",
        url: "/courses/4",
        logo: "/assets/tech/logos_msoffice.svg",
    },
    {
        title: "Course 5",
        cover: "/images/course-1.webp",
        url: "/courses/5",
        logo: "/assets/tech/logos_python.svg",
    },
    {
        title: "Course 5",
        cover: "/images/course-1.webp",
        url: "/courses/5",
        logo: "/assets/tech/logos_python.svg",
    },
    {
        title: "Course 5",
        cover: "/images/course-1.webp",
        url: "/courses/5",
        logo: "/assets/tech/logos_python.svg",
    },
    {
        title: "Course 5",
        cover: "/images/course-1.webp",
        url: "/courses/5",
        logo: "/assets/tech/logos_python.svg",
    },
    {
        title: "Course 5",
        cover: "/images/course-1.webp",
        url: "/courses/5",
        logo: "/assets/tech/logos_python.svg",
    },
    {
        title: "Course 5",
        cover: "/images/course-1.webp",
        url: "/courses/5",
        logo: "/assets/tech/logos_python.svg",
    },
    {
        title: "Course 5",
        cover: "/images/course-1.webp",
        url: "/courses/5",
        logo: "/assets/tech/logos_python.svg",
    },
    {
        title: "Course 5",
        cover: "/images/course-1.webp",
        url: "/courses/5",
        logo: "/assets/tech/logos_python.svg",
    },
];

export interface Props {
    limit?: number;
}

const { limit } = Astro.props;

if (limit) {
    courses = courses.slice(0, limit);
}
---

<div>
    {
        courses.map((course) => (
            <CourseCard
                title={course.title}
                cover={course.cover}
                url={course.url}
                logo={course.logo}
            />
        ))
    }
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
</style>
