---
import HStack from "../utility/Stack/HStack.astro";
---

<HStack class:list="full-width">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</HStack>

<style>
    .full-width {
        width: 100%;
    }
</style>
