---
import CourseCard from "./CourseCard.astro";

export interface Props {
    courses: {
        title: string;
        cover: string;
        url: string;
        logo: string;
    }[];
}

const { courses } = Astro.props;
---

<div>
    {
        courses.map((course) => (
            <CourseCard
                title={course.title}
                cover={course.cover}
                url={course.url}
                logo={course.logo}
            />
        ))
    }
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
</style>
