---
import Arrow from "../svg/arrow.astro";
---

<a href="/courses"> View All Courses &nbsp;&nbsp;<Arrow /></a>

<style>
    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    a:hover {
        --color-text: var(--color-aptech-gold);
    }
</style>
