---
import Arrow from "../svg/arrow.astro";
---

<a href="/courses"> View All Courses <Arrow /></a>

<style>
    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
</style>
