<section id="footer-contact-information">
    <div>
        <p class="gold">Email:</p>
        <p>aptechshaheedpath@gmail.com</p>
    </div>

    <div>
        <p class="gold">Phone:</p>
        <p>9369372934</p>
    </div>

    <div>
        <p class="gold">Address:</p>
        <address>
            309 - Shopping Square-I, Sector-D<br />Sushant Golf City, Shaheed
            Path<br />Lucknow - 226030
        </address>
    </div>
</section>

<style>
    #footer-contact-information,
    #footer-contact-information * {
        width: 100%;
    }

    #footer-contact-information {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    @media (width < 768px) {
        #footer-contact-information {
            text-align: center;
        }
    }
</style>
