<div id="footer-contact">
    <div>
        <p class="gold">Email:</p>
        <p>aptechshaheedpath@gmail.com</p>
    </div>
    <div>
        <p class="gold">Phone:</p>
        <p>9369372934</p>
    </div>
    <div>
        <p class="gold">Address:</p>
        <address>
            309 - Shopping Square-I, Sector-D<br />Sushant Golf City, Shaheed
            Path<br />Lucknow - 226030
        </address>
    </div>
</div>

<style>
    #footer-contact,
    #footer-contact * {
        width: 100%;
    }

    #footer-contact {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex: 1;
    }

    .gold {
        color: var(--color-aptech-gold);
    }
</style>
