---
import Section from "../../../components/Section.astro";
import Contact from "./Contact.astro";
import Copyright from "./Copyright.astro";
import SocialLinks from "./SocialLinks.astro";
---

<footer>
    <div class="container">
        <Section classNames="inverted">
            <div id="footer-information">
                <Contact />
                <SocialLinks />
            </div>
            <Copyright />
        </Section>
    </div>
</footer>

<style>
    footer {
        text-align: center;
        background-color: var(--color-text);
        color: var(--color-bg);
    }

    #footer-information {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
    }

    @media (width < 768px) {
        #footer-information {
            flex-direction: column-reverse;
        }
    }
</style>
