<footer>
    <div class="container">
        <div>Copyright &copy; 2022 - Aptech</div>
    </div>
</footer>

<style>
    footer {
        padding: 10rem 0;
        text-align: center;
        background-color: var(--color-text);
        color: var(--color-bg);
    }
</style>
