---
const icons = [
    {
        name: "facebook",
        src: "facebook.svg",
        href: "https://www.facebook.com/profile.php?id=100079766190197",
    },
    {
        name: "twitter",
        src: "twitter.svg",
        href: "https://twitter.com/aptech_sp",
    },
    {
        name: "instagram",
        src: "instagram.png",
        href: "https://www.instagram.com/aptech.shaheedpath/",
    },
    { name: "gmail", src: "gmail.svg", href: "#" },
];
---

<div>
    <p class="gold">Social Links</p>
    <div id="icon-container">
        {
            icons.map((icon) => (
                <a href={icon.href}>
                    <div class="icon">
                        <img
                            src={`/assets/social/${icon.src}`}
                            alt={icon.name}
                        />
                    </div>
                </a>
            ))
        }
    </div>
</div>

<style>
    div {
        width: 100%;
        text-align: right;
    }

    #icon-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
    }

    .icon {
        width: 48px;
        height: 48px;
        padding: 4px;
        background-color: #333;
        transition: background-color 250ms ease-in;
    }

    .icon:hover {
        background-color: #777;
    }

    @media (width < 768px) {
        div {
            text-align: center;
        }

        #icon-container {
            justify-content: center;
        }
    }
</style>
