---
import Logo from "../Header/Logo.astro";
---

<div>
    <p class="gold">Social Links</p>
    <div id="icon-container">
        <a href="#">
            <div class="icon">
                <img src="/assets/social/facebook.svg" alt="facebook" />
            </div>
        </a>
        <a href="#">
            <div class="icon">
                <img src="/assets/social/twitter.svg" alt="twitter" />
            </div>
        </a>
        <a href="#">
            <div class="icon">
                <img src="/assets/social/instagram.png" alt="instagram" />
            </div>
        </a>
        <a href="/contact">
            <div class="icon">
                <img src="/assets/social/gmail.svg" alt="gmail" />
            </div>
        </a>
    </div>
</div>

<style>
    div {
        text-align: right;
    }

    #icon-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
    }

    .icon {
        width: 48px;
        height: 48px;
        padding: 4px;
        background-color: #333;
        transition: background-color 250ms ease-in;
    }

    .icon:hover {
        background-color: #777;
    }
</style>
