---
// Components
import { Image } from "@astrojs/image/components";
---

<section>
    <div>
        <Image
            src="/assets/tech/logos_it.svg"
            alt=""
            width={64}
            height={64}
            format="svg"
        />
        <p class="title">A Window of Unending Opportunity</p>
        <p>
            While the technology sector continues to grow, Aptech Learning
            trains its students in industry-relevant content, helping them
            become job-ready professionals.
        </p>
    </div>
    <div>
        <Image
            src="/assets/tech/logos_marketing.svg"
            alt=""
            width={64}
            height={64}
            format="svg"
        />
        <p class="title">Advance Your Career</p>
        <p>
            Aptech Learning is a world-class institute known for its pioneering
            educational courses since more than three decades. It has trained
            millions of students and continues to help them acquire the
            necessary skills to and them their dream jobs!
        </p>
    </div>
    <div>
        <Image
            src="/assets/tech/logos_ai.svg"
            alt=""
            width={64}
            height={64}
            format="svg"
        />
        <p class="title">Open up to a Network of Opportunities</p>
        <p>
            The digital boom has lead to a sharp rise in the demand for software
            & hardware professionals. Aptech Learning imparts the necessary
            training to transform its students into skilled networking
            professionals.
        </p>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 4rem;
        margin-block: 1rem;
    }

    @media (max-width: 768px) {
        section {
            flex-direction: column;
            gap: 2rem;
            width: 80%;
        }
    }

    section div {
        text-align: justify;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    section div img {
        height: 64px;
    }

    .title {
        text-align: center;
        font-size: 1.125rem;
        font-weight: bold;
    }
</style>
