<div class="background">
    <div class="container">
        <div class="wrapper">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Corrupti similique magnam ipsum quis eligendi asperiores
                consequuntur omnis cumque magni nobis eos ab, nulla, placeat
                earum?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Corrupti similique magnam ipsum quis eligendi asperiores
                consequuntur omnis cumque magni nobis eos ab, nulla, placeat
                earum?
            </p>
        </div>
    </div>
</div>

<style>
    .background {
        background-color: #1e1e1e;
        padding: 5rem 0;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--color-bg);
    }
</style>
