<div>
    <p>
        Aptech Learning is the pioneer in vocational skill training and
        non-formal academic curriculum-based training programs since 1986 across
        various industries & countries.
    </p>
    <br />
    <p>
        Join Aptech Learning to kick-start your career with industry-relevant
        curriculum for developing in-demand skills, and get prepared for job
        opportunities in top companies.
    </p>
</div>

<style>
    div {
        flex: var(--flex-left, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: right;
    }
</style>
