<li>
    <img src="/assets/star.svg" height="24px" width="24px" alt="" />
    <slot />
</li>

<style>
    li {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }
</style>
