---
import FeatureLeft from "./FeatureLeft.astro";
import FeatureRight from "./FeatureRight.astro";
import Section from "../utility/Section.astro";
---

<Section classNames="inverted">
    <div class="wrapper">
        <FeatureLeft />
        <FeatureRight />
    </div>
</Section>

<style>
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        --flex-left: 1;
        --flex-right: 1;
    }

    @media (max-width: 768px) {
        .wrapper {
            flex-direction: column;
        }
    }
</style>
