---
//  Components
import FeatureLeft from "./FeatureLeft.astro";
import FeatureRight from "./FeatureRight.astro";
---

<section class="background">
    <div class="container wrapper">
        <FeatureLeft />
        <FeatureRight />
    </div>
</section>

<style>
    .background {
        background-color: var(--color-text);
        padding: 5rem 0;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        --flex-left: 1;
        --flex-right: 1;
        color: var(--color-bg);
    }

    @media (max-width: 768px) {
        .wrapper {
            flex-direction: column;
        }
    }
</style>
