---
// Components
import { Image } from "astro:assets";
---

<li>
    <Image src="/assets/star.svg" height={24} width={24} alt="" format="svg" />
    <slot />
</li>

<style>
    li {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }
</style>
