<a href="/">
    <div>
        <img src="/images/logo.png" alt="Aptech Logo" />
        <span id="branch-name">SHAHEED PATH</span>
    </div>
</a>

<style>
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div,
    a,
    img {
        height: 100%;
    }

    img {
        object-fit: contain;
    }

    #branch-name {
        letter-spacing: 0.25ch;
        text-transform: uppercase;
        font-weight: bold;
    }
</style>
