---
// Components
import Flex from "../../../components/utility/base/Flex.astro";
---

<a href="/">
    <Flex flexDirection="row">
        <img src="/images/logo.png" alt="Aptech Logo" />
        <span id="branch-name">SHAHEED PATH</span>
    </Flex>
</a>

<style>
    div,
    a,
    img {
        height: 100%;
    }

    img {
        object-fit: contain;
    }

    #branch-name {
        letter-spacing: 0.25ch;
        text-transform: uppercase;
        font-weight: bold;
    }
</style>
