---
const navRoutes = {
    Home: "/",
    Courses: "/courses",
    Careers: "/careers",
};
---

<nav>
    <ul>
        {
            Object.entries(navRoutes).map(([route, href]) => (
                <li>
                    <a href={href}>{route}</a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3vw;
    }

    li {
        list-style: none;
    }

    a {
        letter-spacing: 0.15ch;
        transition: ease 250ms;
    }

    a:hover {
        color: var(--color-aptech-gold);
        border-bottom: 4px solid var(--color-aptech-gold);
    }
</style>
