<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<style>
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
</style>
