---
// Components
import { Image } from "astro:assets";

const navRoutes = {
    Home: "/",
    Courses: "/courses",
    Careers: "/careers",
    Contact: "/contact",
};
---

<nav>
    <div id="hamburger">
        <Image
            src="/assets/hamburger.svg"
            alt="hamburger-menu"
            format="svg"
            width={28}
            height={28}
        />
    </div>
    <ul>
        {
            Object.entries(navRoutes).map(([route, href]) => (
                <li>
                    <a href={href}>{route}</a>
                </li>
            ))
        }
    </ul>
</nav>

<script>
    const navList = document.querySelector("nav ul");
    const hamburger = document.getElementById("hamburger");
    hamburger?.addEventListener("click", () => {
        navList?.classList.toggle("visible");
    });
</script>

<style>
    nav {
        position: relative;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3vw;
    }

    #hamburger {
        display: none;

        cursor: pointer;
    }

    @media (width < 960px) {
        #hamburger {
            display: block;
        }

        ul {
            position: fixed;
            top: clamp(50px, 10vw, 10vh);
            left: 0;
            width: 100%;
            padding: 2rem 0rem;

            flex-direction: column;

            background-color: var(--color-text);
            color: var(--color-bg);

            display: none;
            opacity: 0;
            transition: opacity var(--transition-duration) ease-in;
            z-index: -10;
        }

        ul.visible {
            display: flex;
            opacity: 1;
            z-index: 10;
        }
    }

    li {
        list-style: none;
    }

    a {
        letter-spacing: 0.15ch;
        transition: color var(--transition-duration) ease-in;
    }

    a:hover {
        color: var(--color-aptech-gold);
        border-bottom: 4px solid var(--color-aptech-gold);
    }
</style>
