<div id="scroll-progress"></div>

<style>
    #scroll-progress {
        --thickness: 2px;
        --offset: calc(100% - calc(var(--thickness) / 2));
        --color: var(--color-aptech-gold, red);
        --shadow: 0px -10px 40px 5px var(--color);

        position: absolute;
        height: var(--thickness, 3px);
        top: var(--offset);
        width: var(--scroll-progress, 10);
        background-color: var(--color);
        box-shadow: var(--shadow);
    }
</style>
