---
import Title from "../utility/Title.astro";
import Testimonial from "./Testimonial.astro";
import Section from "../utility/Section.astro";

const testimonials = [
    {
        avatar: "/images/courses/1.webp",
        name: "Person 1",
        text: "Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet",
    },
    {
        avatar: "/images/courses/2.webp",
        name: "Person 2",
        text: "Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet",
    },
    {
        avatar: "/images/courses/3.webp",
        name: "Person 3",
        text: "Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet",
    },
];
---

<Section>
    <Title>Testimonials</Title>
    <div>
        {
            testimonials.map(({ avatar, name, text }) => (
                <Testimonial avatar={avatar} name={name} text={text} />
            ))
        }
    </div>
</Section>

<style>
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
    }
</style>
