---
import Avatar from "../utility/Avatar.astro";
import Title from "../utility/Title.astro";
//  Components
---

<section class="background">
    <div class="container">
        <Title>Testimonials</Title>
        <Avatar src="/images/hero-2.jpg" />
    </div>
</section>

<style>
    .background {
        background-color: var(--color-bg);
        padding: 15rem 0;
    }
</style>
