---
//  Components
---

<section class="background">
    <div class="container"></div>
</section>

<style>
    .background {
        background-color: var(--color-bg);
        padding: 15rem 0;
    }
</style>
