---
import Title from "../../utility/components/Title.astro";
import Testimonial from "./Testimonial.astro";
import Section from "../../utility/components/Section.astro";

const testimonials = [
    {
        avatar: "/assets/user-avatar.svg",
        name: "Person 1",
        text: "Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet",
    },
    {
        avatar: "/assets/user-avatar.svg",
        name: "Person 2",
        text: "Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet",
    },
    {
        avatar: "/assets/user-avatar.svg",
        name: "Person 3",
        text: "Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet",
    },
];
---

<Section>
    <Title>Testimonials</Title>
    <div>
        {
            testimonials.map(({ avatar, name, text }) => (
                <Testimonial avatar={avatar} name={name} text={text} />
            ))
        }
    </div>
</Section>

<style>
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
    }

    @media (width < 768px) {
        div {
            flex-direction: column;
        }
    }
</style>
