---
import Section from "../../components/utility/Section.astro";
import Title from "../../components/utility/Title.astro";
import courses from "../../data/courses.json";
import BasePlate from "../../layouts/BasePlate.astro";

export function getStaticPaths() {
    let params = [];
    for (const course of courses) {
        params.push({
            params: { id: course.id.toString() },
            props: course,
        });
    }

    return params;
}

const { id } = Astro.params;

const { title, cover } = Astro.props;
---

<BasePlate title={title || "Course " + id}>
    <Section>
        <Title>{title || "Course " + id}</Title>
        <img src={cover} alt="" width={400} height={300} />
    </Section>
</BasePlate>
