---
import BasePlate from "../../layouts/BasePlate.astro";
import Title from "../../utility/components/Title.astro";
import Showcase from "../../components/Courses/Showcase.astro";
import Section from "../../utility/components/Section.astro";

// Data
import courses from "../../data/courses.json";
---

<BasePlate title="Courses | Aptech - Shaheed Path">
    <Section>
        <Title>Courses</Title>
        <Showcase courses={courses} />
    </Section>
</BasePlate>
