---
import BasePlate from "../../layouts/BasePlate.astro";
import Title from "../../components/Title.astro";
import Showcase from "../../components/Courses/Showcase.astro";
import Section from "../../components/Section.astro";
import type { CourseDetails } from "../../types";

const courses = await Astro.glob<CourseDetails>("./*.md");
---

<BasePlate title="Courses | Aptech - Shaheed Path">
    <Section>
        <Title>Courses</Title>
        <Showcase courses={courses} />
    </Section>
</BasePlate>
